body{
	background-color: #FBFEF9 !important;
	color: #3A3E3B !important;
}

.yellow{
	color: #F39237;
}

.files{
	color: #F39237 !important;
}


.modal-content{
	background:rgba(255, 255, 255, 0.9) !important;

}

.close{
	display: none;
}

.login-form{
	background:rgba(0, 0, 0, 0.2) !important;
	border-radius: 10px;
	padding: 30px;
	margin: 5%;
}

.editProfile{
	text-align: right;
}

.profile{
	margin-top: 5%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;

}

.profilePic{
	max-width: 14rem;
}

.editProfilePic{
	max-width: 12rem;
	/*max-width: 14rem;*/
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.details{
	width: 350px;
}

.info{
	font-size: 30px;
}

.preferenceContent{
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 80%;
}

.comments{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.card{
	width: 18rem;
	display: inline-block;
}