body{
	background-color: #F9F8F8 !important;
	color: #3A3E3B !important;
}

.files{
	color: #348497 !important;
}


.modal-content{
	background:rgba(255, 255, 255, 0.8) !important;

}

.close{
	display: none;
}

.login-form{
	background:rgba(0, 0, 0, 0.4) !important;
	border-radius: 10px;
	padding: 30px;
	margin: 5%;
}

.editProfile{
	text-align: right;
}

.profile{
	margin-top: 5%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;

}

.profilePic{
	width: 250px;
	height: 250px;
}

.editProfilePic{
	width: 200px;
	margin: 0 auto;
}

.details{
	width: 350px;
}

.info{
	font-size: 30px;
}

.preferenceContent{
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 80%;
}

.comments{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.card{
	width: 18rem;
	display: inline-block;
}